*.zip
*.cfg
legislative_productivity/
OLS_tables/
OLS_tables_small_world/
parsed/
propublica_data/
github_legislator_data/
descriptive_statistic_plots/
xmltodict-1.0.4/
xmltodict.py
.venv/
__pycache__/
temp_ethnicities.txt
temp_parties.txt